* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px
}

a {
  color: #333;
}

a:hover {
  color: #3366FF;
}

body {
  background-color: #d4f3bc;
  background: url("/images/bk.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both
}

.topmenu {
  width: 100%;
  background: url("/images/menubg.jpg") repeat-x;
  height: 44px
}

.topmenu .menuw {
  width: 320px;
  height: 44px;
  margin: 0 auto;
}

.topmenu .logo {
  background: url("/images/logo.png");
  width: 256px;
  height: 76px;
  *zoom: 0.5;
  zoom: 0.5 \9;
  transform: scale(0.5);
  transform-origin: top left;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  display: block;
  margin-left: 10px;
  margin-top: 4px;
}

.topmenu .searchbtn {
  background: url("/images/menupic.png") 0 0 no-repeat;
  width: 19px;
  height: 20px;
  margin: 14px 10px;
  cursor: pointer;
}

.topmenu .menubtn {
  background: url("/images/menupic.png") 0 -20px no-repeat;
  width: 19px;
  height: 20px;
  margin: 14px;
  display: block;
}

.topmenu .closediv {
  background: url("/images/menupic.png") -20px -20px no-repeat;
  width: 19px;
  height: 20px;
  margin: 14px 0 14px 14px;
  cursor: pointer;
}

.searchbar {
  position: relative;
}

.searchbar .search {
  border: 1px solid #ccc;
  width: 225px;
  height: 30px;
  margin-top: 6px;
  color: #000;
  font-size: 14px;
  padding-left: 5px;
}

.searchbar .searchbtn {
  background: url("/images/menupic.png") -19px 0 no-repeat;
  width: 20px;
  height: 20px;
  margin: 14px;
  position: absolute;
  left: 188px;
  top: 0;
  cursor: pointer;
  color: transparent;
  border: 0px;
}

.alertMsg {
  z-index: 100;
  display: block;
  border: 1px solid #65b9fc;
  position: absolute;
  left: 44%;
  top: 20%;
  color: #514721;
  background: #ffffff;
  padding: 15px 20px;
  font-weight: bolder;
}

.indextxt {
  width: 320px;
  margin: 0 auto;
}

.indextxt div {
  margin: 40px 10px 8px 10px;
}

.indextxt p {
  text-indent: 32px;
  font-size: 16px;
  line-height: 24px;
}


/*info*/

.bodyw {
  width: 320px;
  margin: 0 auto
}

.bodyw .list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bodyw .list ul li {
  background: url("/images/listback.jpg") no-repeat;
  height: 44px;
  font-size: 14px;
}

.bodyw .list ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 7px;
  font-size: 14px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

.bodyw .list ul li a font {
  font-size: 14px;
}

.bodyw .list ul li a:hover {
  color: #000;
}

.bodyw .searchresult {
  margin: 10px;
  font-size: 14px;
}

.bodyw .searchresult span {
  font-size: 20px;
  color: red;
  font-weight: bolder;
}

.info {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.info, .info div {
  font-size: 16px;
  line-height: 26px;
}

.info .infotitle {
  margin-top: 10px;
}

.info .infotitle .name {
  font-size: 20px;
  line-height: 26px;
}

.info .content, .info .content div, .info .content .conttitle {
  text-indent: 32px;
  font-size: 16px;
}

.info .tuban {
  margin-top: 20px;
  color: #5ca863;
  text-indent: 32px
}

.info .content .conttitle {
  color: #5ca863
}